<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre </title>
</head>
<body>
    <h1>El titulo de mi documento</h1>
    <h2>Un subtitulo cualquiera</h2>

    <img src='/images/leia.jpg'>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed rem itaque! Quaerat officiis iste ratione, autem perferendis amet magni rem similique repellat quod eveniet, veritatis unde mollitia, eius qui?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quod eaque animi sit a? Excepturi possimus ipsam architecto debitis, incidunt saepe enim exercitationem dicta, magni fuga assumenda doloribus dolor sapiente?</p>

    <ol>
        <li></li>
    </ol>

    <ul>
        <li></li>
    </ul>
</body>
</html>