<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="./css/register.css">
</head>
<body>
    <header>
        <div class="logoysearch">
            <a href="/"><img class="logo" src='./images/logo-mercado-liebre.svg' alt='logo'></a>
            <div class="browse-bar">
                <section class="browse"><input type="text" placeholder="Buscar productos, marcas"></section>
                <i class="fas fa-search"></i>
            </div>
            </div>

        <p class="cuotastarjeta"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        <section class="secciones">
        <ul>
            <li><a href='#'>Ofertas</a></li>
            <li><a href='#'>Tiendas Oficiales</a></li>
            <li><a href='#'>Vender</a></li>
            <li><a href='#'>Ayuda</a></li>
        </ul>

        <ul>
            <li><a href="/register">Creá tu cuenta<i class="far fa-id-card" ></i></a></li>
            <li><a href='#'>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href='#'>Mis compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        </section>

        <div class="burger-menu">
            <i id="bars" class="fas fa-bars"></i>
            <div class=burger-menu-items>
                <ul>
                    <li><a href='#'>Ofertas</a></li>
                    <li><a href='#'>Tiendas Oficiales</a></li>
                    <li><a href='#'>Vender</a></li>
                    <li><a href='#'>Ayuda</a></li>
                </ul>
        
                <ul>
                    <li><a href='#'>Creá tu cuenta<i class="far fa-id-card" href="./register"></i></a></li>
                    <li><a href='#'>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li class="lastli"><a href='#'>Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </div>
    </header>


    <img id="banner" src="./images/img-home-banner.jpg">
    <main>
        <form class="formulario-registro" action="" method="GET">
            <h3 for="nombreYApellido nick" class="titulo firsttitle">Datos</h3><br>
            <input class="campo firstcontent" type="text" name="nombreyapellido" id="nombreyapellido" placeholder="Nombre y apellido"
                required><br>
            <input class="campo" type="text" name="nick" id="nick" placeholder="Nombre de usuari@"
                required><br>

            <input type="text" name="email" id="email" placeholder="E-mail" class="campo" required><br>

            <h3 class="titulo" for="birthday">Fecha de nacimiento</h3><br>
            <input type="date" name="birthday" id="birthday" class="campo fecha" required><br>

            <input class="campo" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required><br>

            <h3 for="perfilUsuario" class="titulo">Perfil de usuario</h3><br>
            <div class="perfilUsuario-opciones  firstcontent" required>
                <label><input type="radio" name="perfilUsuario" value="Comprador">Comprador</label>
                <label><input type="radio" name="perfilUsuario" value="Vendedor">Vendedor</label>
            </div>

            <br><h3 class="titulo">Intereses</h3><br>
            <div class="intereses firstcontent">
                <label><input type="checkbox" name="categoría" value="Electro"> Electro</label><br>
                <label><input type="checkbox" name="categoría" value="Moda"> Moda</label><br>
                <label><input type="checkbox" name="categoría" value="Hogar"> Hogar</label><br>
                <label><input type="checkbox" name="categoría" value="Juguetería"> Juguetería</label><br>
                <label><input type="checkbox" name="categoría" value="Vida Sana"> Vida Sana</label><br>
            </div>

            <div class="fotoPerfil">
                <h3 class="titulo" for="fotoPerfil">Foto de perfil</h3>
                <input type="file" name="fotoperfil" id="fotoperfil" accept=".jpg, .png">
            </div><br>
            
            <h3 class="titulo">Credenciales</h3><br>
            <input  class="campo" type="password" placeholder="Contraseña" required><br>
            <input  class="campo" type="password" placeholder="Confirmar contraseña" required><br>

            <div class="botones">
                <button class="boton" type="submit" formaction="/"><b>Enviar</b></button><br>
                <button class="boton borrar" type="reset"><b>Borrar</b></button>
            </div>
        </form>
    </main>

    <footer>
        <section class="footermain">
            <i class="fas fa-credit-card"></i>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            
            <i class="fas fa-gift"></i>
            <b>Envío gratis desde $2500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    
            <i class="fas fa-user-shield"></i>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>

            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>