<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/header.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        <div class="logoysearch">
            <img class="logo" src='./images/logo-mercado-liebre.svg' alt='logo'>
            <section class="browse-bar"><input type="text" placeholder="Buscar productos, marcas"></section>
        </div>

        <p class="cuotastarjeta"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        <ul>
            <li><a href='#'>Ofertas</a></li>
            <li><a href='#'>Tiendas Oficiales</a></li>
            <li><a href='#'>Vender</a></li>
            <li><a href='#'>Ayuda</a></li>
        </ul>

        <ul>
            <li><a href='#'>Creá tu cuenta<i class="far fa-id-card"></i></a></li>
            <li><a href='#'>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href='#'>Mis compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>

        <div class="burger-menu">
            <i id="bars" class="fas fa-bars"></i>
        </div>
    </header>


    <img id="banner" src="./images/img-home-banner.jpg">
    <main>
        <form class="formulario" action="" method="GET">
            <link rel="stylesheet" href="./css/register.css">
            <input class="camp" type="text" name="nombreYApellido" id="nombreYApellido" placeholder="Nombre y apellido"
                required><br>
            <input class="camp" type="text" name="nombreUsuari@" id="nombreUsuari@" placeholder="Nombre de usuario"
                required><br>
            <input type="text" name="email" id="email" placeholder="E-mail" required><br>
            <label class="camp" for="birthday" class="titulo">Fecha de nacimiento</label><br>
            <input type="date" name="birthday" id="birthday" class="campo" required><br>
            <input class="camp" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required><br>
            <label for="perfilUsuario" class="titulo">Perfil de usuario</label><br>
            <div class="perfilUsuario" required>
                <label><input type="radio" name="perfilUsuario" value="Comprador">Comprador</label>
                <label><input type="radio" name="perfilUsuario" value="Vededor">Vendedor</label>
            </div>
            <br><h3 class="titulo">Intereses</h3><br>

            <div clasS="intereses">
                <label><input type="checkbox" name="categoría" value="Electro"> Electro</label><br>
                <label><input type="checkbox" name="categoría" value="Moda"> Moda</label><br>
                <label><input type="checkbox" name="categoría" value="Hogar"> Hogar</label><br>
                <label><input type="checkbox" name="categoría" value="Juguetería"> Juguetería</label><br>
                <label><input type="checkbox" name="categoría" value="Vida Sana"> Vida Sana</label><br>
            </div>
            <div class="fotoPerfil">
                <label class="titulo" for="fotoPerfil">Foto de perfil</label>
                <input type="file" name="fotoPerfil" id="fotoPerfil" accept=".jpg, .png">
            </div><br>
            <input  class="camp" type="password" placeholder="Contraseña" required><br>
            <input  class="camp" type="password" placeholder="Confirmar contraseña" required><br>
            <button class="boton" type="submit" formaction="/">Enviar</button><br>
            <button class="boton" type="reset">Borrar</button>
        </form>
    </main>

    <footer>
        <section class="footermain">
        <i class="fas fa-credit-card"></i>
        <b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        
        <i class="fas fa-gift"></i>
        <b>Envío gratis desde $2500</b>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        <i class="fas fa-user-shield"></i>
        <b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>