header{
    background-color: #EAC926;
}

header li::marker{
    visibility: hidden;
}

@media (max-width:480px){
    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-self: center;
        align-content: center;
        box-sizing: content-box;
        max-height: max-content;
    }
    header p{
        font-size: 12px;
    }
    header img{
        width: 40vw;
    }
    #banner{
        width: 100vw;
    }
    .logoysearch{
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        justify-self: center;
        align-items: center;
        max-width: 100vw;
        padding: 0 5% 0 5%;
    }
    .logoysearch a{
        display: flex;
        width: 45vw;
        height: 10vh;
        width: 45vw;
        height: 10vh;
        padding: 2%;
        margin-left: -3%;
    }
    .logo{
        display: flex;
        box-sizing: border-box;
    }
    .browse-bar{
        display:flex;
        padding: 5%;
        /*padding-right: 1%;*/
        box-sizing: border-box;
        width: 45vw;
        height: 5vh;
        font-size: 100%;
        align-self: center;
        align-items: center;
        border-radius: 20px;
        justify-content: space-between;
        background-color: #fff;
    }
    .browse{
        max-width:90%;
        margin-left: -4%;
    }
    .browse input{
        border: none;
        max-width:100%;
    }
    .browse-bar i{
        margin-right: -5%;
    }
    .cuotastarjeta{
        margin-top: -1%;
    }
    .secciones{
        display: none;
    }

    .burger-menu:hover .burger-menu-items{
        display: block;
        z-index: 2;
        position: absolute;
        background-color:hsla(0, 0%, 100%, 0.671)
    }
    .burger-menu:hover #bars{
        padding-bottom: 30%;
    }
    .burger-menu{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 2% 5% 2% 5%;
        margin: auto;
        max-width: 30vw;
    }
    .burger-menu-items{
        display:none;
        text-align: start;
        justify-self: center;
        justify-items: space-around;
        align-self: center;
        padding: 2%;
        border-radius: 20px;
        margin-top: 16%;
        width: 60vw
    }
    .burger-menu-items a{
        font-size: larger;
        padding-left: -2%;
        width: auto;
        height: 4vh;
        align-self: center;
        color: black;  
        justify-content: space-around;
        font-weight: bolder;
        text-decoration-color: hsla(0, 0%, 100%, 0.671)
    }
    .burger-menu-items i{
        margin-left: 5%;
    }
    .burger-menu-items li{
        display: flex;
        z-index: 2;
        margin: 5%;
        margin-bottom: 0;
        padding-bottom: 5%;
        border-bottom: 1px #0753c5c9 solid;
    }
    .burger-menu-items .lastli{
        border-bottom: 0;
        padding-bottom: 5%;
    }
    #bars{
        margin: auto;
        display: inline-block;
        width: 15vw;
        height: 15vw;
        color: white;
        font-size: 13vw;
        justify-items: center;
        padding-top: 7%;
        border-radius: 7px;
        text-align: center;
        justify-items: center;
        background-color: #1259c3;
    }
    header ul i{
        padding-left: 2px;
    }
}


@media (min-width:481px){
    .burger-menu{
        display: none;
    }
    .secciones{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        margin: 2.5vh 2vw 1.5vh 2vw;
        order: 2;
        max-width: 100vw;
    }
    .seccion1{
        order:2
    }
    .seccion2{
        order: 2;
        margin-right: 4.5%;
    }
    ul{
        display: flex;
        flex-direction: row;
    }
    ul li{
        display: flex;
        flex-direction: row;
        padding: 1%;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 5px;
        margin: auto;
        box-sizing: border-box;
        width: fit-content;
    }
    li a{
        width: max-content;
        font-weight: bolder;
    }
    ul li a i{
        padding-left: 1%;
    }


    header{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-height: 25vh;
        width: 100vw;
        padding-top: 1%;
    }
    .logoysearch{
        display: flex;
        flex-direction: row;
        display: visible;
        order: 1;
        padding-right: 2%;
        padding-left: 2%;
    }
    .logo{
        visibility: visible;
        width: 13vw;
        justify-self: flex-start;
    }
    .cuotastarjeta{
        order:2;
        align-self: flex-end;
        margin-right: 1.8%;
        margin-top: -2.8%;
        font-size: 14px;
    }
    .browse-bar{
        display:flex;
        box-sizing: border-box;
        width: 45vw;
        height: 5vh;
        font-size: 100%;
        align-self: center;
        align-items: center;
        padding: 1.5%;
        margin-left: 2%;
        border-radius: 20px;
        justify-items: center;
        justify-content: space-between;
        background-color: #fff;
    }
    .browse input{
        border: none;
    }
}
@media (min-width:961px){
    .burger-menu{
        display: none;
    }
    .logoysearch{
        display: none;
    }
    .logo{
        display: block;
        width: 10vw
    }
    #header{
        display: flex;
        flex-direction: row;
        max-height: 20vh;
        width: 100vw;
    }

    #banner{
        height: 10vh;
        width:auto;
    }
}




