header{
    background-color: #EAC926;
}

header li::marker{
    visibility: hidden;
}

@media (max-width:480px){
    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-self: center;
        align-content: center;
        box-sizing: content-box;
        max-height: max-content;
    }
    header p{
        font-size: 12px;
    }
    header img{
        width: 40vw;
    }
    #banner{
        width: 100vw;
    }
    .logoysearch{
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        justify-self: center;
        align-items: center;
        max-width: 100vw;
        padding: 0 5% 0 5%;
    }
    .logoysearch a{
        display: flex;
        width: 45vw;
        height: 10vh;
        width: 45vw;
        height: 10vh;
        padding: 2%;
        margin-left: -3%;
    }

    .logo{
        display: flex;
        box-sizing: border-box;
    }
    .browse-bar{
        display:flex;
        padding: 5%;
        /*padding-right: 1%;*/
        box-sizing: border-box;
        width: 45vw;
        height: 5vh;
        font-size: 100%;
        align-self: center;
        align-items: center;
        border-radius: 20px;
        justify-content: space-between;
        background-color: #fff;
    }
    .browse{
        max-width:90%;
        margin-left: -4%;
    }
    .browse input{
        border: none;
        max-width:100%;
    }
    .browse-bar i{
        margin-right: -5%;
    }
    .cuotastarjeta{
        margin-top: -1%;
    }
    .secciones{
        display: none;
    }

    .burger-menu:hover .burger-menu-items{
        display: block;
        z-index: 2;
        background-color:#1259c37e
    }
    .burger-menu:hover #bars{
        padding-bottom: 30%;
    }

    .burger-menu{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 2% 5% 2% 5%;
        margin: auto;
        max-width: 30vw;
    }
    .burger-menu-items{
        display:none;
        text-align: start;
        justify-self: center;
        justify-items: space-around;
        padding: 2%;
        border-radius: 20px;
        margin-top: 2%;
        width: 60vw
    }
    .burger-menu-items a{
        font-size: larger;
        padding-left: -2%;
    }
    .burger-menu-items i{
        margin-left: 5%;
    }
    .burger-menu-items li{
        z-index: 2;
        margin: 5%;
        margin-bottom: 0;
        padding-bottom: 5%;
        border-bottom: 2px #0753c5c9 solid;
    }
    .burger-menu-items .lastli{
        border-bottom: 0;
        padding-bottom: 5%;
    }
    #bars{
        margin: auto;
        display: inline-block;
        width: 15vw;
        height: 15vw;
        color: white;
        font-size: 13vw;
        justify-items: center;
        padding-top: 7%;
        border-radius: 7px;
        text-align: center;
        justify-items: center;
        background-color: #1259c3;
    }
    header ul i{
        padding-left: 2px;
    }
}


@media (min-width:481px){
    .burger-menu{
        display: none;
    }

    #header{
        display: flex;
        flex-direction: row;
        max-height: 20vh;
        width: 100vw;
    }

    .logoysearch{
        display: none;
    }
    .logo{
        visibility: visible;
        width: 10vw
    }
}

@media (min-width:961px){
    .burger-menu{
        display: none;
    }
    .logoysearch{
        display: none;
    }

    .logo{
        display: block;
        width: 10vw
    }

    #header{
        display: flex;
        flex-direction: row;
        max-height: 20vh;
        width: 100vw;
    }

    #banner{
        height: 10vh;
        width:auto;
    }
}




