* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebebeb;
    box-sizing: border-box;
}

main {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    padding: 5% 10% 10git% 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo {
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
}

.boton {
    margin-top: 2%;
    background-color: #1259c3;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    justify-content: center;
    padding: 3%;
    box-sizing: border-box;
    align-self: center;
}

.titulo{
    font-weight: bolder;
    margin: 2%;
    height: 2vh;
}
