* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: #ebebeb;
    box-sizing: border-box;
}

main {
    display: flex;
    width: 90vw;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-registro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5%;
}
.formulario-registro .titulo{
    font-weight: bolder;
    margin: 2%;
    height: 2vh;
}

.campo {
    padding: 2%;
    border: 1px solid #fff;
    border-radius: 10px;
}

.fecha{
    width: 45vw;
}

.intereses {
    margin-left: 4%;
    margin-bottom: 2%;
}

.firstcontent{
    margin-top: -2%;
}

.intereses input{
    margin-right: 1vw;
}
.perfilUsuario-opciones{
    display: flex;
    justify-content: space-around;
}

#fotoperfil{
    margin-top: 1.5vh;
}

.botones{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}
.boton {
    margin-top: 2%;
    background-color: #1259c3;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    justify-content: center;
    padding: 4%;
    box-sizing: border-box;
    align-self: center;
}
.borrar{
    background-color: rgb(165, 24, 24);
}
.boton:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}