* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: #ebebeb;
}

main {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeMain h3{
    font-size: 24px;
    text-align: center; 
    width: 100vw;
    margin: 2vh 0 1vh 0;
}

main section{
    display:flex;
    flex-wrap: wrap;
}

.producto{
    width: 90%;
    height: 50%;
    margin: 10px auto;
    background-color: white;
    box-sizing: border-box;
}

.pricediscount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icono-carrito{
    color: #39b54a;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid #39b54a;
    background-color: #FFF;
    position: absolute;
    right: 30px;
    top: -20px;
    text-align: center;
}

.price{
    font-size: 18px;
    padding: 1%;
    text-align: center;
    justify-content: center;
}

.discount{
    font-size: 18px;
    padding: 1%;
    color: green;
    font-weight: bolder;
    width: 25vw;
    height: 3vh;
    text-align: end;
    justify-content: center;
}

.detalle{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.producto:hover .productTitle{
    display: block;
}


@media (min-width:481px){
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        box-sizing: border-box;
        margin: 10px auto;
        height: fit-content;
    }
    .producto:hover .productTitle{
        display: block;
    }
}

.productTitle{
    display:flex;
    box-sizing: border-box;
    color: #666;
    display: none;
    margin: 4% 0 2% 0;
    justify-content: start;
    align-content: flex-start;
}
@media (min-width:961px){
    .producto:hover .productTitle{
        display: block;
    }
    .producto{
        box-shadow: 0px 0px 0px rgb(100, 100, 100);
        width: 22.5%;
        box-sizing: border-box;
        margin: 10px auto;
        height: fit-content;
    }
    .discount{
        font-size: 18px;
        padding: 1%;
        color: green;
        font-weight: bolder;
        width: 25vw;
        height: 3vh;
        text-align: end;
    }
    .producto:hover .icono-carrito {
        transform: rotate(-90deg);
    }
    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

main section div p{
    font-size: 16px;
}

img{
    max-width: 100vw;
}

main section div img{
    width: 100%;
    height: 100%;
}


