body{
    background-color: #f3e496;
}

h3{
    font-size: 24px;
}

.price{
    font-size: 18px
}


main section div p{
    font-size: 16px;
}

img{
    max-width: 100vw;
}

footer{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-content: center;
    text-align: center;
    padding: 5%;
}

footer i{
    size: 2em;
    margin-bottom: 10px;
    color: #1259c3; 
}