<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {partialHead: partialHead}) %>
<body>
    <%- include('../partials/header.ejs') %> 
    <img id="banner" src="../images/img-home-banner.jpg">
    <main>
        <h3 for="credenciales" class="titulo firsttitle">Credenciales</h3><br>
        <input class="campo firstcontent" type="text" name="credenciales" id="usuario" placeholder="Usuario"
            required><br>
        <input class="campo" type="password" name="credenciales" id="contraseña" placeholder="Contraseña"
            required><br>
        <button class="boton" type="submit" formaction="/"><b>Iniciar</b></button><br>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>